*{
    scroll-behavior: smooth;
    transition: all 0.3s;
}

body {
    background: linear-gradient(rgb(0, 0, 0), #000, #121212, #001b2b);
}

nav .nav-container {
    background: #121212;
    padding: 12px 48px;
    color: #fff;
}

.btn-full {
    background: rgb(30 64 175);
    color: #fff;
    border: 1px solid rgb(30 64 175);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.3s;
}

.btn-full:hover {
    background: rgb(30 58 138);
    color: #fff;
    border: 1px solid rgb(30 58 138);

    transition: all 0.3s;
}

.btn-stroke {
    background: transparent;
    border: 2px solid rgb(30 64 175);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.3s;
}

.btn-stroke:hover {
    background: rgb(30 58 138);
    color: #fff;
    border: 2px solid rgb(30 58 138);

    transition: all 0.3s;
}

#mobileMenu .flex {
    background-color: #121212;
    color: #fff;
}

.active {
    color: rgb(30 64 175);
    text-shadow: rgb(30 58 138) 0px 0px 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ph-gear {
    animation: spin 10s linear infinite;
}

.banner {
    background-color: #001b2b;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.profile-wrapper {
    position: absolute;
    top: 25%; 
}

.profile-picture {
    width: 200px;
    height: 200px;
    display: block;
}